* { 
    box-sizing: border-box;
}

/*006CFF*/

html {
    height: 100%;
}

main {
    height: 100%;
    background-color: #01FEFF;
}

#container {
    height: 100%;
    background-color: #01FEFF;
}

body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    color: #FFF;
    font-size: 50px;
    text-align: center;
    font-family: 'Nosifer', cursive;
}

h2 {
    color: #0064C2;
    font-size: 30px;
    text-align: center;
    font-family: 'Boogaloo', cursive;
}

.start-page {
    background: url("ss_blue_goku.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.insaiyan-physique {
    font-size: 60px;
    color: #FFA825;
    margin-top: 30px;
    text-shadow: 2px 2px #0064C2;
    padding-top: 30px;
    margin-top: 0;
}

.start-page-h2 {
    color: #FFA825;
    font-size: 40px;
    margin-top: 200px;
    text-shadow: 2px 2px #0064C2;
}

.initialize-app-button {
    font-family: 'Boogaloo', cursive;
    display: block;
    margin: auto;
    background-color: #01FEFF;
    border-radius: 50%;
    padding: 40px;
    border: none;
    font-size: 40px;
    margin-top: 15%;
    color: #0064C2;
}

.initialize-app-button:hover {
    color: #FFA825;
}

.muscle-category-page {
    background-color: #01FEFF;
}

.muscle-category-h2 {
    font-size: 70px;
    text-shadow: 2px 2px #FFF;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.muscle-category-button {
    font-family: 'Boogaloo', cursive;
    border-radius: 50%;
    display: inline-block;
    padding: 0;
    margin: 15px;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
    background-position-x: 50%;
    border: none;
    color: #01FEFF;
    text-shadow: 2px 2px #0074E1;
    font-size: 50px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.hide-text {
    position: absolute;
    left: -99999px;
}

.muscle-category-button-template-div {
    text-align: center;
}

.muscle-title {
    display: none;
    position: absolute;
    text-align: center;
}

.muscle-category-button:before,
.muscle-category-button:after {
    content: '';
    position: absolute;
    top: 0.67em;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .2s,opacity .6s;
    -moz-transition: .2s,opacity .6s;
    -o-transition: .2s,opacity .6s;
    transition: .2s,opacity .6s;
    line-height: 5.5;
}

.muscle-category-button:before {
    content: attr(data-hover);
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
}

.muscle-category-button:after {
    content: attr(data-active);
    -webkit-transform: translate(150%,0);
    -moz-transform: translate(150%,0);
    -ms-transform: translate(150%,0);
    -o-transform: translate(150%,0);
    transform: translate(150%,0);
}

.muscle-category-button:hover span,
.muscle-category-button:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}

.muscle-category-button:hover:before,
.muscle-category-button:active:after {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}

.muscle-category-button:active:before {
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.exercise-list-page {
    background-color: #01FEFF;
}

.muscle-category-page-nav {
    background-color: #0064C2;
}

.back-to-muscle-category-page-button {
    font-family: 'Boogaloo', cursive;
    font-size: 18px;
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #01FEFF;
    vertical-align: middle;
    line-height: 80px;
    
}

.back-to-muscle-category-page-button:hover {
    color: #0074E1;
    background-color: #FFA825;
}

.back-to-homepage-button {
    font-family: 'Boogaloo', cursive;
    font-size: 18px;
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #01FEFF;
    vertical-align: middle;
    line-height: 80px;
}

.back-to-homepage-button:hover {
    color: #0074E1;
    background-color: #FFA825;
}

.recommended-exercises-h2 {
    color: #0064C2;
    font-size: 70px;
    text-shadow: 2px 2px #FFF;
    text-align: center;
    margin: 0;
    padding-top: 20px
}

.exercise-link-h3 {
    font-family: 'Boogaloo', cursive;
    color: #0064C2;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px #FFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-bottom: 40px;
    padding-left: 0;
}

.exercise-link {
    font-size: 40px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

a:link {
    font-family: 'Boogaloo', cursive;
    text-decoration: none;
    color: #0064C2;
    transition: transform 0.2s;
}

a:hover {
    color: #FFA825;
    transform: scale(1.5);
}

.exercise-info-page {
    background-color: #01FEFF;
}

.exercise-info-page-nav {
    background-color: #0064C2;
}

.back-to-exercise-list-page-button {
    font-family: 'Boogaloo', cursive;
    font-size: 18px;
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 12px;
    color: #01FEFF;
}

.back-to-exercise-list-page-button:hover {
    color: #0074E1;
    background-color: #FFA825;
}

.exercise-name-h2 {
    color: #0064C2;
    font-size: 70px;
    text-shadow: 2px 2px #FFF;
    text-align: center;
    margin: 0;
    padding-top: 20px
}

p {
    font-family: 'Boogaloo', cursive;
    color: #0064C2;
    font-size: 35px;
    text-align: center;
    margin-top: 80px;
}

.exercise-images {
    background-color: #01FEFF;
    text-align: center;
    margin-top: 100px;
}

.exercise-description, .exercise-equipment, .primary-muscle, .secondary-muscle, .exercise-comments, .exercise-videos {
    font-family: 'Boogaloo', cursive;
    text-align: center;
    margin-top: 150px;
}

.h3-span {
    font-family: 'Boogaloo', cursive;
    color: #FFF;
    background-color: #0064C2;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
}

.images {
    height: 300px;
    margin: 20px;
}

.equipment-span {
    padding: 20px;

}

.col-6 {
    width: 48%;
    display: inline-block;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.center-justify-content-flex {
    display: flex;
    justify-content: center;
}

.exercise-diagrams {
    text-align: center;
    display: block;
}

.diagram {
    margin-right: 265px;
    margin-left: 265px;
    display: inline-block;
    width: 200px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 200px;
}

.mobile-viewports {
    display: none;
}

.exercise-videos-h3 {
    margin-bottom: 100px;
}

iframe {
    padding: 10px;
    text-align: center;
    background-color: #FFA825;
    margin: 20px;
}

.logo {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    margin: auto
}

.logo-2 {
    height: 70px;
    width: 70px;
}

@media only screen and (max-width: 321.9px) {
    .insaiyan-physique {
        font-size: 20px;
    }

    .start-page-h2 {
        font-size: 22px;
        margin-top: 80px;
    }

    .initialize-app-button {
        font-size: 20px;
        margin-top: 18%;
        padding: 20px;
    }

    .back-to-homepage-button, .back-to-muscle-category-page-button, .back-to-exercise-list-page-button {
        font-size: 10px;
    }

    .muscle-category-h2 {
        font-size: 30px;
        text-shadow: 2px 2px #FFF;
        margin: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .muscle-category-button {
        display: inline-block;
        margin: 15px;
        height: 175px;
        width: 175px;
        background-position-x: 50%;
        border: none;
        color: #01FEFF;
        text-shadow: 2px 2px #0074E1;
        font-size: 25px;
        
    }

    .muscle-category-button:before, .muscle-category-button:after {
    opacity: 1;
    position: static;
    line-height: normal;
    }

    .recommended-exercises-h2 {
        font-size: 25px;
    }

    .exercise-link-h3 {
        font-size: 25px;
        padding: 10px;
    }

    .exercise-info-page-nav, .muscle-category-page-nav {
        text-align: center;
    }

    .exercise-link {
        font-size: 20px;
        max-width: 100%;
    }

    .exercise-name-h2 {
        font-size: 35px;
    }

    .exercise-description, .exercise-equipment, .primary-muscle, .secondary-muscle, .exercise-comments, .exercise-videos {
        margin-top: 100px;
    }

    .h3-span {
        padding: 25px;
        font-size: 25px;
    }

    p {
        font-size: 20px;
        margin-top: 60px;
        padding: 10px;
    }

    .exercise-images {
        margin-top: 50px;
    }

    .images {
        height: 100px;
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .col-6 {
        width: 100%;
        display: block;
    }

    .mobile-viewports {
        display: block;
    }

    .exercise-diagrams {
        display: none;
    }

    .diagram {
        margin: 0 auto;
        width: 150px;
        height: 300px;
        background-size: 150px
    }

    .exercise-videos {
        height: 100%
    }

    iframe {
        display: block;
        width: 280px;
        height: 200px;
    }

}

@media only screen and (min-width: 322px) and (max-width: 376.9px) {
    .insaiyan-physique {
        font-size: 20px;
    }

    .start-page-h2 {
        font-size: 22px;
        margin-top: 80px;
    }

    .initialize-app-button {
        font-size: 20px;
        margin-top: 18%;
        padding: 20px;
    }

    .back-to-homepage-button, .back-to-muscle-category-page-button, .back-to-exercise-list-page-button {
        font-size: 10px;
    }

    .muscle-category-h2 {
        font-size: 30px;
        text-shadow: 2px 2px #FFF;
        margin: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .muscle-category-button {
        display: inline-block;
        margin: 15px;
        height: 175px;
        width: 175px;
        background-position-x: 50%;
        border: none;
        color: #01FEFF;
        text-shadow: 2px 2px #0074E1;
        font-size: 25px;
        
    }

    .muscle-category-button:before, .muscle-category-button:after {
        opacity: 1;
        position: static;
        line-height: normal;
    }

    .recommended-exercises-h2 {
        font-size: 25px;
    }

    .exercise-link-h3 {
        font-size: 25px;
        padding: 10px;
    }

    .exercise-info-page-nav, .muscle-category-page-nav {
        text-align: center;
    }

    .exercise-link {
        font-size: 20px;
        max-width: 100%
    }

    .exercise-name-h2 {
        font-size: 35px;
    }

    .exercise-description, .exercise-equipment, .primary-muscle, .secondary-muscle, .exercise-comments, .exercise-videos {
        margin-top: 100px;
    }

    .h3-span {
        padding: 25px;
        font-size: 25px;
    }

    p {
        font-size: 20px;
        margin-top: 60px;
        padding: 10px;
    }

    .exercise-images {
        margin-top: 50px;
    }

    .images {
        height: 100px;
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .col-6 {
        width: 100%;
        display: block;
    }

    .mobile-viewports {
        display: block;
    }

    .exercise-diagrams {
        display: none;
    }

    .diagram {
        margin: 0 auto;
        width: 150px;
        height: 300px;
        background-size: 150px
    }

    .exercise-videos {
        height: 100%
    }

    iframe {
        width: 330px;
        height: 220px;
    }

}

@media only screen and (min-width: 377px) and (max-width: 426.9px) {
    .insaiyan-physique {
        font-size: 25px;
        padding-top: 30px;
    }

    .start-page-h2 {
        font-size: 24px;
        margin-top: 60px
    }

    .initialize-app-button {
        padding: 20px;
        font-size: 20px;
        margin-top: 10%;
    }

    .back-to-homepage-button, .back-to-muscle-category-page-button, .back-to-exercise-list-page-button {
        font-size: 12px;
    }

    .muscle-category-h2 {
        font-size: 35px;
        text-shadow: 2px 2px #FFF;
        margin: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .muscle-category-button {
        display: inline-block;
        margin: 15px;
        height: 175px;
        width: 175px;
        background-position-x: 50%;
        border: none;
        color: #01FEFF;
        text-shadow: 2px 2px #0074E1;
        font-size: 25px;
        
    }

    .muscle-category-button:before, .muscle-category-button:after {
        opacity: 1;
        position: static;
        line-height: normal;
    }

    .recommended-exercises-h2 {
        font-size: 30px;
    }

    .exercise-link-h3 {
        font-size: 30px;
        padding: 10px;
    }

    .exercise-info-page-nav, .muscle-category-page-nav {
        text-align: center;
    }

    .exercise-link {
        font-size: 25px;
        max-width: 100%;
    }

    .exercise-name-h2 {
        font-size: 40px;
    }

    .exercise-description, .exercise-equipment, .primary-muscle, .secondary-muscle, .exercise-comments, .exercise-videos {
        margin-top: 100px;
    }

    .h3-span {
        padding: 25px;
        font-size: 30px;
    }

    p {
        font-size: 22px;
        margin-top: 60px;
        padding: 10px;
    }

    .exercise-images {
        margin-top: 50px;
    }

    .images {
        height: 120px;
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    
    .col-6 {
        width: 100%;
        text-align: center;
    }

    .mobile-viewports {
        display: block;
    }

    .exercise-diagrams {
        display: none;
    }

    .diagram {
        margin: 0 auto;
        width: 150px;
        height: 300px;
        background-size: 150px
    }

    .exercise-videos {
        height: 100%
    }

    iframe {
        width: 340px;
        height: 230px;
        margin: 15px;
    }

}

@media only screen and (min-width: 427px) and (max-width: 599.9px) {
    .insaiyan-physique {
        font-size: 30px;
        padding-top: 30px;
    }

    .start-page-h2 {
        font-size: 26px;
        margin-top: 60px
    }

    .initialize-app-button {
        padding: 25px;
        font-size: 25px;
        margin-top: 10%;
    }

    .back-to-homepage-button, .back-to-muscle-category-page-button, .back-to-exercise-list-page-button {
        font-size: 14px;
    }

    .muscle-category-h2 {
        font-size: 40px;
        text-shadow: 2px 2px #FFF;
        margin: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .muscle-category-button {
        display: inline-block;
        margin: 15px;
        height: 175px;
        width: 175px;
        background-position-x: 50%;
        border: none;
        color: #01FEFF;
        text-shadow: 2px 2px #0074E1;
        font-size: 30px;
        
    }

    .muscle-category-button:before, .muscle-category-button:after {
        opacity: 1;
        position: static;
        line-height: normal;
    }

    .recommended-exercises-h2 {
        font-size: 35px;
    }

    .exercise-link-h3 {
        font-size: 35px;
        padding: 10px;
    }

    .exercise-info-page-nav, .muscle-category-page-nav {
        text-align: center;
    }

    .exercise-link {
        font-size: 30px;
        max-width: 100%;
    }

    .exercise-name-h2 {
        font-size: 40px;
    }

    .exercise-description, .exercise-equipment, .primary-muscle, .secondary-muscle, .exercise-comments, .exercise-videos {
        margin-top: 100px;
    }

    .h3-span {
        padding: 25px;
        font-size: 35px;
    }

    p {
        font-size: 24px;
        margin-top: 60px;
        padding: 10px;
    }

    .exercise-images {
        margin-top: 50px;
    }

    .images {
        height: 140px;
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    
    .col-6 {
        width: 100%;
        text-align: center;
    }

    .mobile-viewports {
        display: block;
    }

    .exercise-diagrams {
        display: none;
    }

    .diagram {
        margin: 0 auto;
        width: 150px;
        height: 300px;
        background-size: 150px
    }

    .exercise-videos {
        height: 100%
    }

    iframe {
        width: 380px;
        height: 260px;
        margin: 15px;
    }
}
        
@media only screen and (min-width: 600px) and (max-width: 768.9px) {
    .insaiyan-physique {
        font-size: 35px;
        padding-top: 30px;
    }

    .start-page-h2 {
        font-size: 28px;
        margin-top: 60px
    }

    .initialize-app-button {
        padding: 25px;
        font-size: 25px;
        margin-top: 8%;
    }

    .back-to-homepage-button, .back-to-muscle-category-page-button, .back-to-exercise-list-page-button {
        font-size: 16px;
    }

    .muscle-category-h2 {
        font-size: 45px;
        text-shadow: 2px 2px #FFF;
        margin: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .muscle-category-button {
        display: inline-block;
        margin: 15px;
        height: 175px;
        width: 175px;
        background-position-x: 50%;
        border: none;
        color: #01FEFF;
        text-shadow: 2px 2px #0074E1;
        font-size: 30px;
        
    }

    .muscle-category-button:before, .muscle-category-button:after {
        opacity: 1;
        position: static;
        line-height: normal;
    }

    .recommended-exercises-h2 {
        font-size: 45px;
    }

    .exercise-link-h3 {
        font-size: 45px;
        padding: 10px;
    }

    .exercise-link {
        font-size: 35px;
        max-width: 100%;
    }

    .exercise-name-h2 {
        font-size: 50px;
    }

    .exercise-description, .exercise-equipment, .primary-muscle, .secondary-muscle, .exercise-comments, .exercise-videos {
        margin-top: 100px;
    }

    .h3-span {
        padding: 30px;
        font-size: 40px;
    }

    p {
        font-size: 26px;
        margin-top: 60px;
        padding: 10px;
    }

    .exercise-images {
        margin-top: 50px;
    }

    .images {
        height: 180px;
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    
    .col-6 {
        width: 100%;
        text-align: center;
    }

    .mobile-viewports {
        display: block;
    }

    .exercise-diagrams {
        display: none;
    }

    .diagram {
        margin: 0 auto;
        width: 150px;
        height: 300px;
        background-size: 150px
    }

    .exercise-videos {
        height: 100%
    }

    iframe {
        width: 600px;
        height: 340px;
        margin: 15px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024.9px) {
    .insaiyan-physique {
        font-size: 50px;
        padding-top: 20px;
    }

    .start-page-h2 {
        font-size: 30px;
        margin-top: 60px
    }

    .initialize-app-button {
        padding: 30px;
        font-size: 30px;
        margin-top: 10%;
    }

    .back-to-homepage-button, .back-to-muscle-category-page-button, .back-to-exercise-list-page-button {
        font-size: 16px;
    }

    .muscle-category-h2 {
        font-size: 45px;
        text-shadow: 2px 2px #FFF;
        margin: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .muscle-category-button {
        display: inline-block;
        margin: 15px;
        height: 250px;
        width: 250px;
        background-position-x: 50%;
        border: none;
        color: #01FEFF;
        text-shadow: 2px 2px #0074E1;
        font-size: 35px;
        
    }

    .muscle-category-button:before, .muscle-category-button:after {
        opacity: 1;
        position: static;
        line-height: normal;
    }

    .recommended-exercises-h2 {
        font-size: 50px;
    }

    .exercise-link-h3 {
        font-size: 45px;
        padding: 10px;
    }

    .exercise-link {
        font-size: 40px;
        max-width: 100%;
    }

    .exercise-name-h2 {
        font-size: 50px;
    }

    .exercise-description, .exercise-equipment, .primary-muscle, .secondary-muscle, .exercise-comments, .exercise-videos {
        margin-top: 100px;
    }

    .h3-span {
        padding: 25px;
        font-size: 32px;
    }

    p {
        font-size: 28px;
        margin-top: 60px;
        padding: 10px;
    }

    .exercise-images {
        margin-top: 50px;
    }

    .images {
        height: 140px;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    
    .col-6 {
        width: 50%;
        text-align: center;
    }

    .mobile-viewports {
        display: none;
    }

    .diagram {
        margin-left: 15%;
        margin-right: 15%;
        width: 150px;
        height: 300px;
        background-size: 150px

    }

    .exercise-videos {
        height: 100%
    }

    iframe {
        width: 660px;
        height: 380px;
        margin: 15px;
    }

}

@media only screen and (min-width: 1025px) and (max-width: 1440.9px) {
    .insaiyan-physique {
        font-size: 55px;
        padding-top: 30px;
    }

    .start-page-h2 {
        font-size: 35px;
        margin-top: 60px
    }

    .initialize-app-button {
        padding: 35px;
        font-size: 35px;
        margin-top: 10%;
    }

    .back-to-homepage-button, .back-to-muscle-category-page-button, .back-to-exercise-list-page-button {
        font-size: 16px;
    }

    .muscle-category-h2 {
        font-size: 50px;
        text-shadow: 2px 2px #FFF;
        margin: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .muscle-category-button {
        display: inline-block;
        margin: 15px;
        height: 300px;
        width: 300px;
        background-position-x: 50%;
        border: none;
        color: #01FEFF;
        text-shadow: 2px 2px #0074E1;
        font-size: 40px;
        
    }

    .recommended-exercises-h2 {
        font-size: 60px;
    }

    .exercise-link-h3 {
        font-size: 50px;
        padding: 10px;
    }

    .exercise-link {
        font-size: 45px;
        max-width: 100%;
    }

    .exercise-name-h2 {
        font-size: 60px;
    }

    .exercise-description, .exercise-equipment, .primary-muscle, .secondary-muscle, .exercise-comments, .exercise-videos {
        margin-top: 100px;
    }

    .h3-span {
        padding: 35px;
        font-size: 40px;
    }

    p {
        font-size: 30px;
        margin-top: 60px;
        padding: 10px;
    }

    .exercise-images {
        margin-top: 50px;
    }

    .images {
        height: 200px;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    
    .col-6 {
        width: 50%;
        text-align: center;
    }

    .mobile-viewports {
        display: none;
    }

    .diagram {
        margin-left: 15%;
        margin-right: 15%;
        width: 200px;
        height: 400px;
        background-size: 200px

    }

    .exercise-videos {
        height: 100%
    }

    iframe {
        width: 480px;
        height: 300px;
        margin: 15px;
    }
}

